
body {
 margin: auto;
 font-family: quicksand;
 width: 95%;
}


.nav {
    text-align: center;
    font-family: eb+garamond;
    font-size: 20px;
    font-weight: bold;
/*should we add background image to fill out white space?*/
}


.nav li {
    display: inline-block;
    margin: 10px;
    padding: 30px 70px 10px;

}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
}


.cities {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width:80%;
    font-size: 30px;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 400%;
    display: flex;
    margin: auto;
    justify-content: space-around;

}


h1 {
    text-align: center;
    font-size: 50px;
    color: #ff0000;
/* change font color */
}


.spainimage {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 65%;
    height:400%;
    text-align: center;

}


#seville {
   height: 30%;
   color: #0000ff;
   
}

#malaga {
   height:30%;
    color: #0000ff;
    
   
}


#madrid {
   height: 30%;
   color: #0000ff;
   
}
